@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-4">
        <h2>Animals</h2>
        <p>There are so many cruddy animals in this zoo! Last time I checked, I think there were at least five. Click here and learn about them. Please.</p>
        <p><a class="btn btn-default" href="/Animal/Index/">See Animals! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Habitats</h2>
        <p>Animals need somewhere to live and our employees need something to clean. We just installed a brand new swamp!</p>
        <p><a class="btn btn-default" href="/Habitat/Index/">See Habitats! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staff</h2>
        <p>Come learn about our incredible employees! They are the best at cleaning up after animals and zoo guests!</p>
        <p><a class="btn btn-default" href="/Employee/Index">See our Staff! &raquo;</a></p>
    </div>
</div>